body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  padding: 2rem;
  position: relative;
}

.text-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-content h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.text-content p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  max-width: 400px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons a {
  background-color: black;
  color: white;
  padding: 20px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 25px;
  font-family: sans-serif;
  transition: background 0.2s;
}

.buttons a:hover {
  background-color: #333;
}

.image-section {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  height: 120%;
  object-fit: contain;
}

.vertical-text {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  color: black;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 1rem;
  }

  .text-content {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .text-content h2 {
    font-size: 2rem;
  }

  .text-content p {
    font-size: 1.2rem;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .buttons a {
    padding: 15px 20px;
    font-size: 1rem;
  }

  .image-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    position: relative;
  }

  .image-section img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .vertical-text {
    position: static;
    transform: none;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    color: black;
  }
}
